<form class="card" #formRegistro="ngForm" (ngSubmit)="onSubmit(formRegistro)">
    <div class="card-header">
        <h2>Modifica tus datos</h2>
    </div>
    <div class="card-body">

        <div class="alert alert-primary" role="alert" *ngIf="mensaje != ''">
            <strong>{{ mensaje }}</strong>
        </div>

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre"
                [(ngModel)]="user.name" #nameUser="ngModel" required>
                <span class="text-danger" *ngIf="nameUser.touched && !nameUser.valid">Campo nombre invalido</span>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese su apellido"
                [(ngModel)]="user.surname" #surnameUser="ngModel" required>
                <span class="text-danger" *ngIf="surnameUser.touched && !surnameUser.valid">Campo invalido</span>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su email"
                [(ngModel)]="user.email" #emailUser="ngModel" required>
                <span class="text-danger" *ngIf="emailUser.touched && !emailUser.valid">Campo invalido</span>
        </div>
        <div class="custom-file">
            <angular-file-uploader 
                [config]="afuConfig"
                [resetUpload]=resetVar
                (ApiResponse)="avatarUpload($event)">
      </angular-file-uploader>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!formRegistro.valid">Actualizar</button> 
    </div>
</form>
